Source: foomatic-db
Section: text
Priority: optional
Maintainer: Chris Lawrence <lawrencc@debian.org>
Build-Depends-Indep: debhelper (>> 4)
Standards-Version: 3.6.2

Package: foomatic-db
Architecture: all
Recommends: foomatic-db-engine, foomatic-filters
Suggests: foomatic-db-hpijs, foomatic-db-gimp-print, foo2zjs, cupsys
Conflicts: foomatic-bin (<< 2.9)
Description: linuxprinting.org printer support - database
 Foomatic is a printing system designed to make it easier to set up
 common printers for use with Debian (and other operating systems).
 It provides the "glue" between a print spooler (like CUPS or lpr) and
 your actual printer, by telling your computer how to process files
 sent to the printer.
 .
 This package contains the printer database distributed by
 linuxprinting.org for most common drivers.  You will probably need
 the foomatic-db-engine package for this package to be useful.
 .
 The foomatic-db-hpijs package adds additional printers supported by
 the HPIJS printer driver backend, particularly consumer inkjet
 printers from Hewlett-Packard.
 .
 The foomatic-db-gimp-print package adds additional printers supported
 by the GIMP-Print printer driver backend, most commonly used for
 color photo printing on consumer inkjets.
 .
 The foo2zjs package adds backend support for a number of printers
 from HP and Minolta/QMS that use the Zenographics ZjStream protocol.
 .
 Home Page: http://www.linuxprinting.org/

Package: linuxprinting.org-ppds
Architecture: all
Suggests: cupsys, foomatic-filters-ppds, hplip-ppds
Conflicts: hp-ppd (<= 0.5)
Description: linuxprinting.org printer support - PostScript PPD files
 This package includes a collection of free PostScript Printer Description
 files for PostScript (and clone) printers from various manufacturers, as
 distributed by LinuxPrinting.org.
 .
 If you have non-PostScript printers, the foomatic-filters-ppds and
 hplip-ppds packages are the ones you need; this package won't be of much
 help to you.
 .
 Home Page: http://www.linuxprinting.org/
